<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>RentCar - User list</title>
		<link th:href="@{/img/favicon.ico}" type="image/x-icon">
		<link th:href="@{/css/mdb.min.css}" rel="stylesheet" />
		<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
		<link th:href="@{/css/google-fonts.min.css}" rel="stylesheet" />
	</head>
	<body>
		<header th:replace="~{fragments :: header}"></header>
		<main>
			<div class="container pt-4">
				<section class="mb-4">
					<div class="card">
						<div class="card-header text-center py-3">
							<h1 class="mb-0 text-center">
								<strong>User list</strong>
							</h1>
							<hr>
							<a th:href="@{/user/new}" class="btn btn-warning">Add new user</a>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-hover text-nowrap">
									<thead>
										<th>ID</th>
										<th>Name</th>
										<th>Username</th>
										<th>Role</th>
										<th width="20px">Action</th>
									</thead>
									<tbody>
										<tr th:each="user : ${users}">
											<td th:text="${(user.id)}"></td>
											<td th:text="${(user.nome)}"></td>
											<td th:text="${(user.usuario)}"></td>
											<td>ADMIN</td>
											<td><a th:href="@{/user/update/{id}(id=${user.id})}"
												class="btn btn-primary">Edit</a> 
<!-- 												<a -->
<!-- 												th:href="@{/user/delete/{id}(id=${user.id})}" -->
<!-- 												class="btn btn-danger">Delete</a> -->
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</section>
			</div>
		</main>
		<footer th:replace="~{fragments :: footer}"></footer>
	</body>
	<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/font-awesome.min.js}"></script>
</html>