<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>RentCar - Home</title>
		<link th:href="@{/img/favicon.ico}" type="image/x-icon">
		<link th:href="@{/css/mdb.min.css}" rel="stylesheet" />
		<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
		<link th:href="@{/css/google-fonts.min.css}" rel="stylesheet" />
	</head>
	<body>
		<header th:replace="~{fragments :: header}"></header>
		<main>
			<div class="container pt-4">
				<section class="mb-4">
					<div class="card">
						<div class="card-body">
							<h1 class="mb-0 text-center">WELCOME</h1>
							<hr>
							<p class="lead">This project is the result of a collective effort to present academic work and aims to demonstrate a secure Rest API using Spring Boot.</p>
							<div class="card">
								<ul class="list-group list-group-light list-group-small">
									<li class="list-group-item px-3">Curricular component: Cloud Computing and Internet of Things</li>
									<li class="list-group-item px-3">Teacher: Herculano Debiasi</li>
									<li class="list-group-item px-3">Academics: Danimar Henrique Varisa, Michael Timbola</li>
								</ul>
							</div>
						</div>
					</div>
				</section>
			</div>
		</main>
		<footer th:replace="~{fragments :: footer}"></footer>
	</body>
	<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/font-awesome.min.js}"></script>
</html>